/* 
	Projeto feira (folha de estilo)
*/
body {
	// background-color: #FA7F72;
	background-image: radial-gradient(#a80000, #760300); 
	color: white; 
	font-size: 16px;	
	font-family: Stoke, verdana, liberation;
}
header, section {display: block;}
nav {
	display: block;
	border-top: 2px solid; 
	border-bottom: 2px solid;
	padding-top: 4px; 
	padding-bottom: 4px;
	text-align: center;
	font-weight: bold;
	font-family: Stoke, Verdana, Liberation;
}
	.menu {
		text-align: center; 
		margin: 3px auto;
	}
	.botao {
		font-size: 14px; 
		margin-top: 0px; 
		margin-bottom: 0px;
		margin-left: 4px; 
		margin-right: 4px;
		padding-top: 5px; 
		padding-bottom: 5px;
		padding-left: 4px; 
		padding-right: 4px;
		background-color: white;
		width: 100px; 
		display: inline-block;
	}
nav a:link {
	text-decoration: none; 
	color: #FF0000;
}
nav a:visited {
	text-decoration: none; 
	color: #EE0000;
}
a:link {
	text-decoration: none; 
	color: white;
}
a:visited{
	text-decoration: none; 
	color: white;
}
a:hover{
	text-decoration: underline;
}
.ender {
	text-align: right; 
	font-size: 15px; 
	line-height: 140%; 
	float: right;
}
.imgLogo {
	max-width:180px;
    max-height:130px;
    width: auto;
    height: auto;
}
.titulo {
	display: inline;
	margin-left: 360px; 
	text-align: center; 
	font-size: 18px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
	font-size: 3em; 
	color: #fffdd9;
}

form {
	float: center;
	width: 1140px;
	color: #880000;
	background-color: #EEDD99;
	padding: 6px 6px 15px 6px;
	margin: 10px auto;
	border: 2px solid black;
	border-radius: 10px;
}
	.elemEsq {
		float:left;
		display: block;
	}
	.elemDir {
		float: right;
		display: inline-block;
		margin-top: 15px;
		margin-right: 10px;
	}
	.impMedio {
		width: 50px;
	}
	.botoes {
		float: none;
		margin: 20px 10px 0px 10px;
	}

label.editPastel{
	display: inline-block;
	width: 200px;
}
	.editBolinho{
		display: inline-block;
		width: 120px;
	}
	.editBebida{
		display: inline-block;
		width: 170px;
	}

/*Posicionamento de Fieldsets*/
.fsPrincipal{
	width: auto;
}
.fsEsq{
	float: left;
	display: inline-block;
	margin: 0px;
	margin-left: 2px;
	margin-right: 2px;
}
.fsDir{
	float: right;
	display: inline-block;
	margin: 0px;
	margin-left: 2px;
	margin-right: 2px;
}

/*Elementos de entrada de valores*/
.impGrande {
	width: 440px;
}
.impNCC {
	width: 130px;
}
.impTelef {
	width: 90px;
}
.impEnder{
	width: 200px;
	height: 60px;
}
.numDD {
	width: 30px;
}
.numQD {
	width: 50px;
}

/* JavaScript*/

.itens {
	width: 200px;
	border: 3px solid;
	padding: 12px;
	background-color: #FFFFFF;
}